@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>

    <p>Hier is een link naar de resultaten <a asp-controller="StudentResultaats" asp-action="Index">link</a></p>

    <a href="/Home/RoleChange"><button type="button" asp-controller="StudentResultaats">Verander rol</button></a>
</div>
