@model WPFWSecurity.Controllers.StudentResultaatsController.Resultaten
@{
    ViewData["Title"] = "Zoek";
}
@if (Model != null)
{
    @foreach (StudentResultaat s in Model.Sresultaten)
    {
        <div>@s.StudentNaam " " @s.Cijfer</div>
    }
}
else
{
    <form method="get" action="Zoek">
    <input type="text" name="query" />
    <input type="submit" />
    </form>
}
